.section-1 {
  margin: 0 300px;
}

.display {
  display: flex;
  justify-content: center;
}

.counter-value {
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}