button {
    margin: 0 10px;
    width: 100px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 10%;
    font-size: 20px;
  }
  
  .plus {
    background-color: aqua;
  }
  
  .minus {
    background-color: rgb(255, 89, 0);
  }